.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 10px 200px;
}
.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-primary{
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}

p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.banner{
    background-image: url("../assets/Hero-bg.png");
}
.banner-content{
    text-align: center;
}

.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-desc {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}

.btn-contact{
    color: white;
    background-color: black;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    cursor: pointer;
    margin-bottom: 44px;
}
.banner-dp{
    display: cover;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.section{
    margin-top: 154px;
    margin-bottom: 88px;
    background-color:rgb(255, 255, 252);
    border-radius: 16px
    padding: 10px;
}

.title-desc{
    margin: 48px 0px;
}
.section-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 88px;
    margin-bottom: 24px;
}

.sub-sec{
    display: flex;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02); 
    margin: 32px 0px;
}

.sub-section{
    margin: 10px 95px 10px 48px;
}
.sub-section-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.sub-section-desc{
    text-align: left;
    align-items: flex-start;

}

main{
    max-width: 1140px;
    /* this means the section will be in center */
    margin: 0 auto;
}

.video{
    display: flex;
    flex-direction: column;
}
iframe{
    display: block;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 32px;
    margin-top: 48px;
}

.skills{
    text-align: left;

}
.skills-container{
    display: flex;
    gap: 24px;
    
}

.skill{
    padding: 0;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 364px;
    height: 200px;
    margin-bottom: 111px;
}

.skill-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 149px 142px 24px 144px;
}

.skill-titles{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.skill-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 48px;
    margin-left: 144;
    margin-right: 144;
}

.skill1{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.skill2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.skill3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.learn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

.support{
    align-items: center;
}

.support-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}

.support-desc{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}